<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<!-- reference to log4net section -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.0.12.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
	</configSections>
	<!-- Configuration for log4net -->
	<log4net>
		<root>
			<!-- this is the default logging behaviour if no matching logger element is found below -->
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="TraceAppender" />
		</root>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<threshold value="DEBUG" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="baseUrl" value="http://testingchallenges.thetestingmap.org/challenge10.php"/>
		<add key="browserType" value="chrome"/>
		<add key="timeToWait" value="30"/>
	</appSettings>
</configuration>